@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
.navbar {
    background-color: var(--white-color) !important;
}
.navbar a {
    color: var(--text-primary) !important;
    font-weight: bold;
}

.navbar .btn,
.navbar .btn:hover {
    color: var(--text-primary);
}

.navbar .btn:focus {
    box-shadow: none;
}
.logo {
    font-family: 'Oleo Script Swash Caps', cursive;
}