footer {
    background-color: var(--footer-background);
    color: var(--white-color);
}

.icon {
    padding: 8px;
    border: 1px solid var(--text-primary);
    transition: var(--transition);
}

.icon {
    background-color: var(--text-primary);
    color: var(--white-color);
}

.icon:hover {
    color: var(--white-color);
}